<p style="color: green"><%= notice %></p>

<%= render @user %>

<div>
  <%= link_to "Update User", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <%= button_to "delete User", @user, method: :delete %>
</div>
